a
{
    font-family: "europa", sans-serif;     
}

.custom-navbar
{
    background-color: #e076dc !important;
}

.github-button
{
    color: white !important;  
    border-color: white;
    border-width: 2px;
    border-radius: 9999px;
    font-size: 1.25rem;
    text-align: center;
}

.github-button:hover
{
    color: #e076dc !important; 
    background-color: white;
    border-color: white;
}

.pink-button
{
    color: #e076dc !important;  
    border-color: #e076dc;
    border-width: 2px;
    border-radius: 9999px;
    font-size: 1.55rem;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;

}

.pink-button:hover
{
    color: white !important; 
    background-color: #e076dc;
    border-color: #e076dc;
}

.custom-margin
{
    margin: 0.7%;
}

.poppins-font
{
    font-family: "Poppins",sans-serif !important; 
}

.subtitle
{
    font-weight: 800;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase; 
    text-shadow: none;
    font-size: 3rem;
    line-height: 1.125;
    word-break: break-word;
}

.first-feature, .second-feature, .third-feature
{
    display: flex;
    margin-right: 7%;
    margin-left: 7%;
}

.promotional-text
{
    font-size: 13px !important;
}

.fa
{
    margin-right: 1%;
    margin-left: 1%;
}

.second-feature, .third-feature
{
    margin-top: 3%;
}

.feature-text,.feature-media
{
    width: 50%;
    text-align: center;
}

.title-subsection, .video-subsection
{
    width: 50%;
    text-align: center;
}

.normal-text
{
    color: #151515;
    font-family: "europa", sans-serif;
    font-size:19px;
}

.feature-section
{
    margin-top: 1.6%;
    margin-bottom: 1.6%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

.feature-text-box
{
    color: #151515;
    font-family: "europa", sans-serif;
    margin-top:1.5%; 
    font-size:19px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.title-video-section
{
    display: flex;
    margin-top: 2%;
    margin-bottom: 1.2%;
}

.question-section
{
    display: flex;
    background-color: #e076dc;
    padding-top:1.2%;
    padding-bottom: 0.8%; 
}

.footer
{
    background-color: #e076dc;
    padding-top:1.6%; 
    padding-bottom:0.3%; 
    text-align: center;
}

.first-image, .question, .second-image
{
    width: 33%;
    text-align: center;
}

.overview-text
{
    color: #151515;
    font-family: "europa", sans-serif;
    margin-top:1.5%; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size:19px;
}
.question-text
{
    color: #151515;
    font-family: "europa", sans-serif;
    margin-top:3%; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size:19px;
}
.color-pink
{
    color: #e076dc; 
}

.color-white
{
    color: white; 
}

.is-small
{
    font-size: 2rem;
}

.cta-box
{
    background-color: #151515;
    color: white;
    border-radius: 11px;    
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #151515;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1.5%;
    padding-bottom: 0.7%;
}
.cta-button
{
    margin-top: 2%;
    margin-bottom: 2%;
}
.various-links
{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.twitter-story,.coffe
{
    width: 50%;
    text-align: center;
}

.twitter-story-box
{
    background-color: #151515;
    color: white;
    border-radius: 11px;    
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #151515;
    padding: 0.6%;
    margin-left: 11%;
    margin-right: 15%;
}

.is-medium
{
    font-size: 20px;
}

.coffe-box
{
    background-color: #151515;
    color: white;
    border-radius: 11px;    
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #151515;
    margin-right: 9%;
}

.coffe-text
{
    margin-top: 5%;
}

.fa-coffee
{
    margin-left: 4%;
    margin-right: 4%;
}
.call-to-action
{
    display: flex;
}
.hastag-text
{
    font-size: 15px; 
}
.twitter-text
{
    margin-top: 3%;
}

a[href="https://twitter.com/jesuslagares_/status/1536065613835259906"], a[href="https://www.buymeacoffee.com/jesuslagares"]
{
    text-decoration: none;
    color: white; 
}
a[href="https://twitter.com/jesuslagares_/status/1536065613835259906"]:hover,a[href="https://www.buymeacoffee.com/jesuslagares"]:hover
{
    text-decoration: none;
    color: #e076dc; 
}
